<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/common/resources/**" security="none"/>
    <http pattern="/common/webjars/**" security="none"/>
    <http pattern="/common/i18n/**" security="none"/>

    <http entry-point-ref="entryPoint">
        <intercept-url pattern="/common/login" access="permitAll"/>
        <intercept-url pattern="/common/register" access="permitAll"/>

        <intercept-url pattern="/common/**/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/common/**" access="isAuthenticated()"/>
        <form-login login-page="/common/login"
                    login-processing-url="/common/spring_security_check"
                    authentication-failure-handler-ref="myUrlAuthenticationFailureHandler"
                    authentication-success-handler-ref="myAuthenticationSuccessHandler"/>

        <csrf disabled="true"/>
        <access-denied-handler ref="customAccessDeniedHandler"/>
        <logout logout-url="/common/logout" success-handler-ref="myLogoutSuccessHandler" delete-cookies="JSESSIONID"
                invalidate-session="true"/>
    </http>


    <beans:bean id="entryPoint" class="ru.javawebinar.topjava.web.handler.CustomRestAuthenticationEntryPoint"/>
    <beans:bean id="myAuthenticationSuccessHandler"
                class="ru.javawebinar.topjava.web.handler.CustomSavedRequestAwareAuthenticationSuccessHandler"/>
    <beans:bean id="myUrlAuthenticationFailureHandler"
                class="ru.javawebinar.topjava.web.handler.CustomUrlAuthenticationFailureHandler"/>
    <beans:bean id="myLogoutSuccessHandler" class="ru.javawebinar.topjava.web.handler.CustomLogoutSuccessHandler"/>
    <beans:bean id="customAccessDeniedHandler" class="ru.javawebinar.topjava.web.handler.CustomAccessDeniedHandler"/>

    <beans:bean class="ru.javawebinar.topjava.util.PasswordUtil" id="passwordEncoder" factory-method="getPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>